<html>
  <head>
    <title>Irc client API test</title>
    <link rel="stylesheet" type="text/css" href="/asset/css/irc.css">
  </head>
  <body>
    <div class="js-irc-client">
      <script class="js-buffer-template" type="html/template">
        <div class="js-channel">
          <div class="js-buffer buffer"></div>
          <input type="text" name="message">
        </div>
      </script>
    </div>
    <!--  Sample client dependencies-->
    <script type="text/javascript" src="/asset/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/asset/js/ClientView.js"></script>

    <!-- Transports -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/asset/transport/WebSocket.js"></script>

    <!-- Irc client components -->
    <script type="text/javascript" src="/asset/es5-shim.min.js"></script>
    <script type="text/javascript" src="/asset/EventEmitter.js"></script>
    <script type="text/javascript" src="/asset/Message.js"></script>
    <script type="text/javascript" src="/asset/Connection.js"></script>
    <script type="text/javascript" src="/asset/Client.js"></script>
    <script type="text/javascript">
      jQuery(function () {
        window.client = new irc.Client("seykron__", {
          host: "london-uk.pirateirc.net",
          port: 6697,
          // Used when there's no native sockes support. Aka always...
          proxy: {
            host: "localhost",
            port: 3000
          }
        });
        var view = new irc.ClientView(jQuery(".js-irc-client"), client, {
          autoJoin: ["#ppar"]
        });

        client.connect(function (err) {
          var user;

          if (err) {
            console.log("Cannot connect to server: " + err);
            return;
          }
          view.render();

          user = client.user("seykron");
          user.on("error", function (error) {
            console.log(error);
          });
          user.on("message", function (message) {
            console.log("<" + user.nick + ">" + ": " + message);
          });
          console.log(client.getConnection().getFeatures());
        });
      });
    </script>
  </body>
</html>